/*body{
    background-color:rgb(150, 150, 150);
}*/
.top{
    background-image: url("../img/testbgd.jpg");
    min-height:400px;
    height:auto;
    background-size:cover;
    }
.middle{ 
    color: pink;
    margin-left: 40px;
    margin-right: 40px;
}
.full-width-content {
    margin-left: 20px;
    margin-right: 20px;
}
